<%@taglib prefix="fmt" uri="http://java.sun.com/jsp/jstl/fmt" %>
<%@ page pageEncoding="UTF-8" %>

    <%-- APP version --%>
    <c:set var="appVersion"    value="0.8.3-SNAPSHOT"/>

    <%-- APP Name --%>
    <c:set var="appName"    value="Contrast-Finder"/>
    <c:set var="appName_v2" value="Contrast Finder"/>

    <%-- LANG --%>
    <c:choose>
        <c:when test="${fn:contains(pageContext.response.locale, '_')}">
            <c:set var="lang">
                ${fn:substringBefore(pageContext.response.locale, "_")}
            </c:set>
        </c:when>
        <c:otherwise>
            <c:set var="lang" value="${pageContext.response.locale}"/>
        </c:otherwise>
    </c:choose>

    <%-- Canonical URL --%>
    <c:set var="prefixURL" value="https://app.contrast-finder.org/"/>
    <c:set var="canonicalURL" value="${prefixURL}?lang=${lang}"/>
        <%-- <c:choose>
                <c:when test="${lang == 'en'}">
                    <c:set var="canonicalURL" value="${prefixURL}"/>
                </c:when>
                <c:otherwise>
                    <c:set var="canonicalURL" value="${prefixURL}?lang=${lang}"/>
                </c:otherwise>
            </c:choose> --%>

    <%-- TITLE tag --%>
    <c:choose>
        <c:when test="${empty colorResult}">
            <c:set var="titleTag"><fmt:message key="home.titleTag"/></c:set>
            <c:set var="metaDescription"><fmt:message key="home.metaDescription"/></c:set>
        </c:when>
        <c:otherwise>
            <c:set var="titleTag">
                ${appName_v2},
                <fmt:message key="result.title.minRation"/> ${colorModel.ratio},
                <fmt:message key="result.title.colors"/> :
                <c:choose>
                    <c:when test="${colorResult.combinaisonValid  || colorModel.isBackgroundTested}">
                        <fmt:message key="result.title.foregroundColor"/> ${colorModel.foreground},
                        <fmt:message key="result.title.backgroundColor"/> ${colorModel.background}
                    </c:when>
                    <c:otherwise>
                        <fmt:message key="result.title.backgroundColor"/> ${colorModel.background},
                        <fmt:message key="result.title.foregroundColor"/> ${colorModel.foreground}
                    </c:otherwise>
                </c:choose>
            </c:set>
            <c:set var="metaDescription">
                  <fmt:message key="result.title.foregroundColor"/> ${colorModel.foreground} = ${foregroundColor}
                - <fmt:message key="result.title.backgroundColor"/> ${colorModel.background} = ${backgroundColor}
                - <fmt:message key="form.ratio"/> ${colorModel.ratio}
                - Ratio <fmt:formatNumber value="${oldContrast}"/>
                -
                <c:choose>
                    <c:when test="${colorResult.combinaisonValid}">
                        <fmt:message key="form.validContrastDesc"/>
                    </c:when>
                    <c:otherwise>
                        <fmt:message key="form.initialContrastCaption"/>
                        <c:if test="${colorModel.isBackgroundTested}">
                           - is background tested
                        </c:if>
                        -   <fmt:message key="form.resultNumber">
                                <fmt:param value="${colorResult.numberOfSuggestedColors}"/>
                            </fmt:message>
                        / <fmt:formatNumber value="${colorResult.numberOfTestedColors}"/>
                          <fmt:message key="form.testedColors"/>
                    </c:otherwise>
                </c:choose>
            </c:set>
            <%--
                FR   Contrast Finder : couleur du texte #468847, couleur du fond #DFF0D8, Ratio minimum 4.5
                FR   Contrast Finder, ratio min 4.5, couleurs : texte #468847, fond #DFF0D8
                FR   Contrast Finder, ratio min 4.5, couleurs : texte #468847 et #DFF0D8
                FR   Contrast Finder : couleurs (texte #468847, fond #DFF0D8) ratio min 4.5
                EN   Contrast Finder : colors (text #468847, background #DFF0D8) min ratio 4.5
                EN   Contrast Finder, min ratio 4.5, colors : text #468847 and #DFF0D8
                EN   Contrast Finder, min ratio 4.5, colors : text #468847, background #DFF0D8
                EN   Contrast Finder : text color #468847, background color #DFF0D8, Minimum ratio 4.5
                ${appName}
                 - RGB  colors : txt ${foregroundColor}         background ${backgroundColor}
                 - Hexa colors : txt ${colorModel.foreground}   background ${colorModel.background}
                 - Contrast ${oldContrast}

                 - Ratio <fmt:formatNumber value="${oldContrast}"/>
                -  <fmt:formatNumber value="${colorResult.submittedCombinaisonColor.contrast}"/>
                --- ${colorResult.submittedCombinaisonColor.contrast}


                <c:set var="metaDescription">
                    Contrast ${oldContrast}
                    - <fmt:message key="result.title.foregroundColor"/> ${colorModel.foreground} = ${foregroundColor}
                    - <fmt:message key="result.title.backgroundColor"/> ${colorModel.background} = ${backgroundColor}
                    -
                    <c:choose>
                        <c:when test="${colorResult.combinaisonValid}">
                            Good contrast
                        </c:when>
                        <c:otherwise>
                            Invalid contrast -
                            <c:if test="${colorModel.isBackgroundTested}">
                                is background tested
                            </c:if>
                            - number of suggested colors ${colorResult.numberOfSuggestedColors}
                            / number of tested    colors ${colorResult.numberOfTestedColors}
                        </c:otherwise>
                    </c:choose>
                </c:set>
           --%>
        </c:otherwise>
    </c:choose>




